<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--调用远程服务接口-->
    <dubbo:reference interface="priv.llf.ability.course.south.service.ICourseService"  id="courseServiceRemote"/>
    <dubbo:reference interface="priv.llf.ability.course.south.service.IUserSelectCourseService"  id="userSelectCourseServiceRemote" />
    <dubbo:reference interface="cn.eleven.basic.data.user.south.api.IUserQueryService"  id="userQueryServiceRemote" />
</beans>