<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 配置dubbo消费方 -->
    <!--配置消费方名称  -->
    <dubbo:application name="${dubbo.application.name}"/>
    <!--注册zookeeper 连接  192.168.200.128:2181  -->
    <dubbo:registry address="${dubbo.registry.address}" protocol="${dubbo.registry.protocol}"/>
    <!--timeout:配置消费者服务调用超时时间，如果超过此限制时间，则消费者自动抛出超时异常，同事服务端也会抛出response异常
                该参数通常由服务提供方配置，因为只有服务提供方才知道服务需要耗时-->
    <!--check:启动时检查提供者是否存在，true报错，false忽略-->
    <dubbo:consumer check="false" />
</beans>