<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

      <bean class="cn.eleven.common.zookeeper.CuratorFrameworkFactoryBean" id="curatorFramework">
            <property name="namespace" value="cn/llf/framework"/>
            <property name="zkAddressList">
                  <list>
                        <value>${zookeeperAddress}</value>
                  </list>
            </property>
      </bean>

      <bean class="cn.eleven.common.zookeeper.LockFactory">
            <property name="client" ref="curatorFramework"/>
      </bean>

</beans>