<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
      <!--正确行-->
      <!--<context:component-scan base-package="cn.llf.framework.services"/>-->
      <!--<context:component-scan base-package="cn.llf.framework.dao"/>-->
      <!--2018-1-02更改测试-->
      <context:component-scan base-package="cn.llf.framework"/>
</beans>